body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAF9F6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #800000;
  text-align: center;
}

h1 {
  font-size: 1rem;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

audio {
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #000000; 
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #5A030C;
}

input[type="file"] {
  margin-right: 10px;
}

.master-tracks h2 {
  font-size: 1.8rem;
  color: #000000; 
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  flex-grow: 1; 
}

.audio-list {
  margin-top: 20px;
}

.round-button-img {
  margin: auto;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
}

.upload-section, .master-tracks {
  margin-bottom: 30px;
}

.footer {
  background: #800000;
  text-align: center;
}
