/* for use on index and other w3 specific elements */

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.w3-sidebar {
  height: 90%;
  width: 200px;
  background-color: #FFFFFF;
  color: black;
  padding: 15px;
  position: fixed !important;
  z-index: 9999;
  overflow: auto;
}

.w3-bar-item {
  color: #000000;
  font-size: 16px;
}

.w3-bar-item:hover {
  background-color: #333;
}


.w3-btn, .w3-button {
  user-select: none;
}
.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
              0 6px 20px 0 rgba(0,0,0,0.19);
}
.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.w3-disabled *,
:disabled * {
  pointer-events: none;
}
.w3-btn.w3-disabled:hover,
.w3-btn:disabled:hover {
  box-shadow: none;
}

.w3-text-center { text-align: center; }
.w3-text-bold, .w3-bold { font-weight: bold; }
.w3-text-italic, .w3-italic { font-style: italic; }

.w3-spin {
    animation: w3-spin 2s infinite linear;
}

@keyframes w3-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.w3-animate-fading {
    animation: fading 10s infinite;
}

@keyframes fading {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.w3-animate-opacity {
    animation: opac 0.8s;
}

@keyframes opac {
    from { opacity: 0; }
    to { opacity: 1; }
}

.w3-animate-top {
    position: relative;
    animation: animatetop 0.4s;
}

@keyframes animatetop {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s;
}

@keyframes animateleft {
    from { left: -300px; opacity: 0; }
    to { left: 0; opacity: 1; }
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s;
}

@keyframes animateright {
    from { right: -300px; opacity: 0; }
    to { right: 0; opacity: 1; }
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom {
    from { bottom: -300px; opacity: 0; }
    to { bottom: 0; opacity: 1; }
}

.w3-animate-zoom {
    animation: animatezoom 0.6s;
}

@keyframes animatezoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.w3-animate-input {
    transition: width 0.4s ease-in-out;
}

.w3-animate-input:focus {
    width: 100% !important;
}
